<div>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Menu</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link" (click)="navegarHaciaCards()">Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navegarHaciaSlider()">Slider</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/images/pelicula3.png" class="img-fluid rounded-start imagen" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Shang Chi y la leyenda de los Diez Anillos</h5>
            <p class="card-text">Película Shang-Chi y la leyenda de los Diez Anillos
              2h 12m • 2021
              
              Géneros: Accion Aventura Fantasia
              Actores: Simu Liu, Tony Leung Chiu-wai, Awkwafina, Meng'er Zhang, Fala Chen, Michelle Yeoh, Yuen Wah, Ben Kingsley, Florian Munteanu, Andy Le</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
</div>