<!--adaptativo para usuarios-->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<!--menu-->

<div>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Menu</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" (click)="navegarHaciaCards()">Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navegarHaciaSlider()">Slider</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!--Contenedor principal-->
<div>
  <div class="card-group">
    <div class="card">
      <img src="/assets/images/pelicula1.png" class="card-img-top imagen"  alt="...">
      <div class="card-body">
        <h5 class="card-title">Doctor Strange 2</h5>
        <p class="card-text">El Dr. Stephen Strange abre un portal al multiverso al utilizar un hechizo prohibido. Ahora su equipo debe enfrentarse a una amenaza enorme.</p>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button  class="btn btn-primary" (click)="navegarHaciaPelicula1()">Leer mas</button>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="/assets/images/pelicula2.png" class="card-img-top imagen"  alt="...">
      <div class="card-body">
        <h5 class="card-title">Morbius</h5>
        <p class="card-text">Ambientada en el universo de Spider Man, se centra en uno de sus villanos más icónicos, Morbius, un doctor que tras sufrir una enfermedad en la sangre y fallar al intentar curarse, se convirtió en un vampiro.</p>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button  class="btn btn-primary" (click)="navegarHaciaPelicula2()">Leer mas</button>
        </div> 
      </div>
    </div>
    <div class="card">
      <img src="/assets/images/pelicula3.png" class="card-img-top imagen"  alt="...">
      <div class="card-body">
        <h5 class="card-title">Shang Chi y la leyenda de los Diez Anillos</h5>
        <p class="card-text">El maestro de artes marciales Shang-Chi se enfrenta al pasado que creía haber dejado atrás cuando se ve envuelto en la red de la misteriosa organización de los Diez Anillos.</p>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button  class="btn btn-primary" (click)="navegarHaciaPelicula3()">Leer mas</button>
        </div> 
      </div>
    </div>
  </div>
</div>

